MAPBOX_TOKEN=

# =====================


DB_HOST=localhost
DB_PORT=5432
DB_NAME=braporte
DB_USER=postgres
DB_PASSWORD=sua_senha

# =====================
# JWT Auth
# =====================

JWT_SECRET=

# =====================
# Email (SMTP)
# =====================
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=